<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
    <title>Lista telefonica</title>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-locale-pt.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <style>
        .jumbotron {
            text-align: center;
            margin: auto;
            width: 600px;
            margin-top: 20px;
            padding: 20px 35px;
        }

        .table {
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 10px;
        }

        .selecionado {
            background-color: yellow;
        }

        .negrito {
            font-weight: bold
        }
    </style>
    <script>
        angular
            .module("listaTelefonica", [])
            .controller('listaTelefonicaControler', function ($scope) {
                $scope.app = 'Lista Telefonica'
                $scope.contatos = [
                    { nome: "Pedro", telefone: "44989898", data: new Date(), operadora:{ nome: 'Oi', codigo: '14', categoria: "Celular" }},
                    { nome: "João", telefone: "46513289", data: new Date(), operadora:{ nome: 'Vivo', codigo: '15', categoria: "Celular" } },
                    { nome: "Marina", telefone: "68498451", data: new Date(), operadora:{ nome: 'Tim', codigo: '41', categoria: "Celular" } },
                    { nome: "Lucas", telefone: "98489498", data: new Date(), operadora:{ nome: 'Tim', codigo: '41', categoria: "Celular" } }
                ];
                $scope.operadoras = [
                    { nome: 'Oi', codigo: '14', categoria: "Celular", preco: 2 },
                    { nome: 'Vivo', codigo: '15', categoria: "Celular", preco: 1 },
                    { nome: 'Tim', codigo: '41', categoria: "Celular", preco: 3 },
                    { nome: 'GVT', codigo: '25', categoria: "Fixo", preco: 1 },
                    { nome: 'Embratel', codigo: '21', categoria: "Fixo", preco: 2 }
                ]
                $scope.addContato = function (contato) {
                    $scope.contatos.push(angular.copy(contato));
                    $scope.contato = {};
                    $scope.contatoForm.$setPristine();
                }
                $scope.deleteContato = function (contatos) {
                    $scope.contatos = contatos.filter(function (contato) {
                        if (!contato.selecionado) {
                            return contato
                        }
                    })
                }
                $scope.isContatoSelecionado = function (contatos) {
                    return contatos.some(function (contato) {
                        return contato.selecionado;
                    })
                }
                $scope.ordenarPor = function(campo){
                    $scope.criterioDeOrdenacao = campo;
                    $scope.direcaoOrdenacao = !$scope.direcaoOrdenacao;
                }
            })
    </script>
</head>

<body ng-controller="listaTelefonicaControler">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <input type='text' ng-model="criterioDeBusca" placeholder="O que você está buscando?" class="form-control">
        <table ng-show="contatos.length > 0" class="table">
            <tr>
                <th></th>
                <th><a href='' ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href='' ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th>Data</th>
                <th>Operadora</th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoOrdenacao">
                <td><input type='checkbox' ng-model="contato.selecionado"></td>
                <td>{{contato.nome | uppercase}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>{{contato.operadora.nome}}</td>
            </tr>
        </table>
        </hr>
        <form name="contatoForm">
            <input class="form-control" type="text" ng-required="true" ng-model="contato.nome" name="nome" placeholder="Nome" ng-minlength="10"/>
            <input class="form-control" type="text" ng-required="true" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-pattern="/^\d{4,5}-\d{4}$/"/>
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ') ' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
                <option value=''>Selecione uma operadora</option>
            </select>
        </form>
        <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
            Por favor, preencha o nome!
        </div>
        <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
            O campo nome deve ter no minimo 10 caracteres
        </div>
        <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
            Por favor, preencha o telefone!
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" class="alert alert-danger">
            O campo deve ter o formato DDDDD-DDDD
        </div>
        <button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>
        <button class="btn btn-danger btn-block" ng-click="deleteContato(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contato</button>
    </div>
    <div ng-include="'footer.html'"></div>
</body>

</html>